{
    "exrends":[
        "semistandard"
    ],
    "parser": "@babel/eslint-parser",
    "plugins":[
        "html",
        "standard",
        "parser",
        "mocha",
        "chai-expect"
    ]
}